@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;900&family=Raleway:wght@500;700&display=swap');
html,body {
	font-family: 'Source Serif Pro', serif;
	font-size: 16.5px;
	background-color: #210000;
	color: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}
.container {
	width: 100%;
	max-width: 725px;
	line-height: 1.758;
	padding: 40px 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 64px;
}
.logo p {
	margin: 0;
	padding: 0;
	padding-top: 12px;
	font-weight: 800;
}

.logo img.logo-img {
	max-width: 120px;
	border: 0;
	border-radius: 6px;
}
.logo img.icon-img {
	max-width: 40px;
	border: 0;
}

.logo h1 {
	font-size: 56px;
	margin: 0;
	padding: 0;
	line-height: 1.15;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

h1,h2,h3,h4,.small,.disclaimer,.button, input {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 28px;
}

.sep {
	font-size: 64px;
	opacity: 0.3;
	padding-top: 16px;
	text-align: center;
}

.hiw-item {
	display: flex;
	align-items: center;
}
.hiw-icon {
	font-size: 48px;
	padding-right: 22px;
}

@media (max-width: 600px) {
	.hiw-item {
		flex-direction: column;
		align-items: flex-start;
	}
	.hiw-icon {
		margin-bottom: -26px;
	}
}

.flex {
	display: flex;
}
@media (max-width: 600px) {
	.flex {
		flex-direction: column;
	}
}

#lightgallery {
	margin-bottom: 26px;
}

.sig-images {
	margin: 26px 0;
}

.sig-images img {
	max-width: 150px;
	margin-right: 2px;
}

.mm-images img {
	max-width: 78px;
	border-radius: 100%;
	border: 4px solid #ddd;
	margin-right: 8px;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding-left: 20px;
}

p, li {
	font-size: 20px;
}
.error {
	color: red;
}
.hidden {
	display: none;
}
.small {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	text-align: center;
}
.disclaimer {
	text-transform: none;
	opacity: 0.5;
	padding-top: 12px;
}
a {
	color: #FF1F1F;
}
.small a {
	margin-right: 16px;
	text-decoration: none;
}
input {
	padding: 12px;
	border-radius: 6px;
	font-size: 20px;
	width: 220px !important;
	font-weight: 600;
	text-transform: uppercase;
	outline: none;
	border: 2px solid #FF1F1F;
	background-color: transparent;
	caret-color: #FF1F1F;
	color: #FF1F1F;
	margin-right: 12px;
	margin-bottom: 12px;
}
input:focus {
	border: 2px solid #FF1F1F;
	background-color: #360000;
}
.button {
	border-radius: 6px;
	padding: 13px 0;
	display: inline-block;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 16.5px;
	margin-right: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	background-color: #FF1F1F;
	color: #fff;
	width: 220px !important;
	box-sizing: border-box;
	text-align: center;
	white-space: nowrap;
}
.button:hover {
	background-color: #ED0000;
}